{% extends 'layouts/base-auth.html' %}
{% load static %}


{% block content %}

  <div class="col-xl-6 col-md-6 d-flex flex-column mx-auto">
    <div class="card mb-3 " style="border: 2px solid #eee">
      <div class="card-header pb-0 text-left bg-transparent">
        
        <h1 class="font-weight-black text-dark display-6">¡Felicitaciones!   <i class="fa-solid fa-circle-check fa-beat" style="width: 20px;height: 20px;color: green;"></i></h1>
        <p class="mb-0">Tu contraseña ha sido cambiada correctamente.</p>
      </div>
      <div class="card-footer pt-0 px-lg-2 px-1 mx-2 my-3">
        <p class="mb-4 mx-auto">
          para voler volver a la página principal
          <a href="/" class="text-dark font-weight-bold">Inicio</a>
        </p>
      </div>
    </div>
  </div>


{% endblock content %}
